@import "reset.css";
@import "variables.css";
@import "utility.css";
@import "global.css";

@import url("https://fonts.googleapis.com/css2?family=Source+Serif+4:ital,opsz,wght@0,8..60,200..900;1,8..60,200..900&display=swap");

@import url("https://fonts.googleapis.com/css2?family=Inter:wght@100..900&family=Source+Serif+4:ital,opsz,wght@0,8..60,200..900;1,8..60,200..900&display=swap");

header {
  height: 100vh;
  padding: var(--padding-large) var(--padding-xlarge);
  display: grid;
  grid-template-columns: 1fr 1fr;
  gap: var(--spacing-medium);
}

@media screen and (min-width: 2000px) {
  header {
    max-width: 1920px;
    margin-inline: auto;
  }
}

header > section:first-child {
  overflow: hidden;
}

header > section:nth-child(2) {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
}

header ol {
  list-style-type: decimal;
  list-style-position: inside;
}

@media screen and (max-width: 768px) {
  header {
    grid-template-columns: 1fr;
  }

  #menu-mobile button {
    display: block;
  }

  header > section:nth-child(2) > nav > ul,
  header > section:nth-child(2) > nav > div {
    display: none;
  }

  header > section:first-child {
    display: none;
  }

  .nav-mobile {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    position: absolute;
    background-color: var(--color-background);

    right: 0;
    height: calc(100vh - var(--padding-small) - 6rem);
    transition: 0.5s;
    z-index: 999;
    transform-origin: center right;
    overflow: hidden;
  }
}

@media screen and (max-width: 1125px) {
  header {
    padding: var(--padding-small) var(--padding-small);
  }
}
