@import "reset.css";
@import "variables.css";
@import "utility.css";
@import "global.css";

#menu-mobile button {
  display: block;
}

#categories {
  letter-spacing: 0.2rem;
  width: 70%;
  margin-inline: auto;
  line-height: 2rem;
}

#categories ul {
  display: flex;
  justify-content: space-around;
  flex-wrap: wrap;
  font-weight: var(--font-regular);
}

#categories label:hover {
  opacity: var(--opacity-hover);
  cursor: pointer;
}

#categories input[type="radio"] {
  width: 0;
}

#categories input:checked + label {
  font-weight: var(--font-bold);
}

.masonry {
  position: relative;
}

.masonry > .item {
  position: absolute;
  text-align: center;
  font-size: 2em;
  color: white;
  line-height: 1.5em;
  box-shadow: 0px 2px 10px rgba(0, 0, 0, 0.1);
  background-color: var(--color-secondary);
  overflow: hidden;
}

.nav-mobile {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  position: absolute;
  background-color: var(--color-background);
  left: 0;
  right: 0;
  height: calc(100vh - var(--padding-small) - 6rem);
}
