@import "reset.css";
@import "variables.css";
@import "utility.css";
@import "global.css";

.container-sobre {
  padding-left: 24rem;
  padding-right: 16rem;
}

#menu-mobile button {
  display: block;
}

.nav-mobile {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  position: absolute;
  background-color: var(--color-background);

  right: 0;
  height: calc(100vh - var(--padding-small) - 5rem);
  transition: 0.5s;
  z-index: 999;
  transform-origin: center right;
  overflow: hidden;
}

@media screen and (max-width: 1400px) {
  .container-sobre {
    padding-left: 14rem;
    padding-right: 10rem;
  }
}

@media screen and (max-width: 768px) {
  .container-sobre {
    padding-left: 0rem;
    padding-right: 0rem;
  }
}
